.App{
  
}

.side-drawer {
  height:100%;
  background:white;
  box-shadow: 2px 0px 5px black;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  max-width: 350px;
  opacity: 100;
}

.MainColumn {
  display:flex;
  flex-direction: row;
  justify-content: space-between
}

.MainPage{
  /* background: grey */
  /* text-align: center; */
}

.Title{
  display:flex;
  flex-direction: row;
}