#App{
  /* height: 100vh; */
  background-color:black;
  color:black;
}

#page-wrap {
  overflow: auto;
  height: 100vh;
}

#outer-container{
  height: 100%;
  /* min-height: 100%; */
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 2px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #2F8FD9;
}

.bm-burger-button {
  position: fixed;
  width: 35px;
  height: 30px;
  left: 30px;
  top: 25px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: darkgray;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 14;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.MainColumn {
  /* display:flex;
  flex-direction: row;
  justify-content: space-between */
}

.MainPage{
  /* height: 100vh */
}

.Title{
  /* display:flex;
  flex-direction: row; */
}